@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.poet-card {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  width: 95%;
  max-width: 980px;
  border-radius: 10px;
  margin: 50px auto;
  border: 1px solid variables.$color-green;
  // background-color: variables.$color-white;
  // color: variables.$color-black !important;

}
.poet-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  @include mixins.lg {
    flex-direction: row;
    align-items: flex-start;
    width: 95%;
    margin: 30px;
  }
}
.poet-photo {
  display: flex;
  margin: 20px auto;
  // width: inherit;
  img {
    max-width: 100%;
  }
  @include mixins.lg {
    // width: max-content;
  //   max-width: 500px;
  //   width: unset;
  //   margin: 20px auto;
  margin: 0;
  width: 100%;
  flex: 0 0 50%;

  }
}

.poet-card-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow: auto;
}

.poet-info {
  display: flex;
  flex-direction: column;
  @include mixins.lg {
    // flex-direction: row;
    // align-items: flex-start;
    // justify-content: space-between;
    // margin: 10px;
  
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // grid-template-rows: auto;
  }
}

.info-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
  img {
    margin-right: 10px;
    width: 40px;
  }
  @include mixins.lg {
    margin: 20px 0;
  }
  ul {
    @include mixins.lg {
      width: max-content;
    }
  }
}

.poet-biography, .works {
  flex-grow: 1;
  padding: 0 0 0 10px;
  color: variables.$color-black;
  // background-color: variables.$color-white;
  width: 100%;
  p, span, li span {
    margin: 0 0 10px 0 !important;
    padding: 10px 0 !important;
    width: 100%;
    max-width: none;
    font-size: variables.$size-paragraph;
    text-wrap: balance;
    margin-bottom: 5px;
  }
  .text-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent !important;

  }
  ul li span {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }
}

.poet-card footer {
  background-color: variables.$color-black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: variables.$size-normal;
  margin-bottom: 1px;
  border-top: 1px solid variables.$color-green;
  color: variables.$color-white;
  border-radius: 0 0 10px 10px;
  width: 100%;
  a {
    color: variables.$color-green;
    text-decoration: none;
    width: 40px;
    img {
      max-width: 100%;
    }
  }
}

// .info-item {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   margin-bottom: 20px;
//   ul {
//     flex-grow: 1;
//   }
// }