@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

header {
  background-color: variables.$color-black;
  color: variables.$color-white;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  height: 60px;
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    li {
      margin: variables.$mp-md variables.$mp-sm;
      a {
        color: variables.$color-white;
        text-decoration: none;
        font-size: 12px;
        @include mixins.md {
          font-size: 16px;
        } 
        &:hover {
          text-decoration: underline;
          color: variables.$color-green;
        }
        &.active {
          color: variables.$color-green;
          font-weight: 800;
        }
      }
      @include mixins.md {
        margin: variables.$mp-md;
      }
    }
  }
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  // height: 100vh;
}

.main-container {
  flex-grow: 1;
}

