@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.tooltip-container {
  display: contents;
  
    .tooltip-word {
      position: relative;
      display: initial;
      cursor: pointer;
      color: variables.$color-green;
      font-weight: bold;
      font-style: italic;
    
    .tooltip-content {
      background-color: variables.$color-green;
      color: variables.$color-black;
      text-align: center;
      border-radius: 20px;
      padding: 20px;
      font-size: variables.$size-normal;
      width: 300px;
    }
  }

  .tooltip-element {
    background-color: variables.$color-green!important;
    color: variables.$color-white!important;
    width: 300px!important;
    padding: 15px!important;
    z-index: 5!important;
    opacity: 1 !important;
  }
}