@use "variables";

// _base.scss

/* Reset de margenes y paddings */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: variables.$font-normal;
}

main {
  // min-block-size: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

h1, h2, h3, h4, h5, h6 {
  font-family: variables.$font-title;
}

