@use 'variables';
@use 'mixins';

/* Reset */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* General styles */

html {
  min-block-size: 100%;
}

body {
  font-family: variables.$font-normal;
}

main {
  // min-block-size: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

h1, h2, h3, h4, h5, h6 {
  font-family: variables.$font-title;
}

.section-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  position: relative;
  min-height: 100%;
  height: 100%;
  > * {
    @include mixins.sm {
      opacity: 0;
      transform: translate3d(0, 4rem, 0);
      transition: opacity 800ms 250,
      transform 800ms cubic-bezier(0.13, 0.07, 0.26, 0.99) 250;
    }
  }
}

.text-title {
  letter-spacing: .15ch;
  line-height: .75;
  font-family: variables.$font-title;
  font-weight: 900;
  z-index: 1;
  text-transform: uppercase;

}

.text-content {
  color: variables.$color-white;
  font-family: variables.$font-normal;
  max-width: 85%;
  margin: variables.$mp-xl auto;
  @include mixins.md {
    max-width: 80%;
  }
  @include mixins.lg {
    max-width: 60%;
  }
}

.is-visible {
  .section-content > * {
    opacity: 1;
    display: flex;
    // &:not(.--initial-scene) > * {
    //   align-items: center;
    //   display: flex;
      
    // }
    // Apply animation to all elements except h1 and .scroll-icon
    &:not(h1)::not(.scroll-icon):not(canvas):not(video) {
      animation: content-animation 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards 1;
      transform: translate3d(0, 0.5rem, 0);
      transition: all 1500ms;
    }
  }
}

.is-hidden {
  opacity: 0;
  z-index: -1;
}

@keyframes content-animation {
  0% {
    top: 50vh;
  }
  20% {
    top: 20vh;
  }
  100% {
    top: 50vh;
  }
}