// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pathway+Gothic+One&display=swap');

$font-title: "Pathway Gothic One", sans-serif;
$font-normal: "Montserrat", sans-serif;

// COLORS

$color-black: #000000;
$color-green: #429242;
$color-gray: #757371;
$color-gray-light: #CFCBCB;
$color-white: #ECECEA;

//MARGINS & PADDINGS

$mp-sm: 10px;
$mp-md: 20px;
$mp-lg: 30px;
$mp-xl: 3rem;

// SIZES

$size-xxs: 0.35rem;
$size-xs: 0.5rem;
$size-s: 0.75rem;
$size-normal: 1rem;
$size-paragraph: 1.5rem;
$size-big-parr: 2rem;
$size-title: 2.7rem;
$size-l: 3rem;
$size-xl: 5rem;
$size-xxl: 11rem;