// import variables and mixins
@use 'variables';
@use 'mixins';

// import base and common styles
@use 'supports';
@use 'base';
// @import './components';

.section-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  position: relative;
  min-height: 100%;
  min-height: 100%;
  > * {
    @include mixins.sm {
      opacity: 0;
      transform: translate3d(0, 4rem, 0);
      transition: opacity 800ms 250,
      transform 800ms cubic-bezier(0.13, 0.07, 0.26, 0.99) 250;
    }
  }
}

.text-content {
  color: whitesmoke;
  font-family: variables.$font-normal;
  max-width: 85%;
  margin: variables.$mp-xl auto;
  @include mixins.md {
    max-width: 80%;
  }
  @include mixins.lg {
    max-width: 60%;
  }
}

.is-visible {
  .section-content > * {
    align-items: center;
    display: flex;
    opacity: 1;
    transform: translate3d(0, 1rem, 0);
    transition: all 1500ms;
    &:not(.welcome-content > *) {
      animation: content-animation 3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        forwards 1;
    }
  }
}

.is-hidden {
  opacity: 0;
  z-index: -1;
}

@keyframes anim-scroll-down {
  0%{
    transform: translate(-50%, 0px);
    opacity: 0;
  }
  50%{
      transform: translate(-50%, 8px);
      opacity: 1;
  }
  100%{
      transform: translate(-50%, 16px);
      opacity: 0;
  }
}

@keyframes content-animation {
  0% {
    top: 50vh;
  }
  20% {
    top: 20vh;
  }
  100% {
    top: 50vh;
  }
}